ТРЕБОВАНИЯ К КОНКУРСНОЙ РАБОТЕ (САЙТУ)
Разрабатываемый сайт должен:
1. Общие требования
•	быть современным, адаптивным (ПК, планшет, смартфон);
•	поддерживать казахский, русский, англиский языки
•	иметь понятную навигацию и логичную структуру;
•	соответствовать стилю государственного учреждения.
2. Обязательные разделы сайта
•	Главная страница
•	О лаборатории (о нас)
•	Структура 
•	Услуги 
•	Учебно-методический центр
•	Документы и нормативные акты 
•	Антикоррупционная деятельность 
•	Новости и СМИ о нас
•	Контакты 
•	Предложения конкурсантов (раздел для представления дополнительных функциональных, дизайнерских или технических решений, предлагаемых участниками конкурса, направленных на улучшение структуры, удобства и эффективности официального сайта)
3. Функциональные требования
•	форма обратной связи;
•	возможность администрирования контента (CMS или собственная админ-панель);
•	SEO-дружественная структура;
•	соблюдение базовых требований информационной безопасности.
4. Технические требования
•	использование современных web-технологий;
•	чистый и читаемый код;
•	возможность дальнейшего развития сайта.
•	обязательня интеграция другими веб-сайтами (сайта https://adilet.zan.kz/rus, https://goszakup.gov.kz/ )


КРИТЕРИИ ОЦЕНКИ РАБОТ
Конкурсная комиссия оценивает работы по следующим критериям:
1.	Функциональность и удобство использования
2.	Дизайн и визуальное оформление
3.	Соответствие требованиям государственного веб-ресурса
4.	Техническая реализация и качество кода
5.	Креативность и оригинальность решений
6.	Адаптивность и производительность сайта

ТРЕБОВАНИЯ К ЦВЕТОВОЙ ГАММЕ САЙТА
Цветовая гамма сайта должна быть выполнена в спокойных, официальных и научно-деловых тонах, ассоциирующихся с лабораторной диагностикой, надежностью, точностью и государственным статусом организации.
Рекомендуемые основные цвета
Назначение	Описание цвета
Основной цвет	Светло-голубой / голубовато-белый - используется как основной фон страниц, символизирует чистоту, науку, лабораторную среду
Акцентный цвет	Золотисто-песочный - используется для логотипа, иконок, ключевых элементов интерфейса, заголовков
Дополнительный цвет	Темно-синий - применяется для текстов, меню навигации, кнопок
Нейтральные оттенки	Белый и светло-серый - для фона, таблиц, форм и разделения контента
Принципы использования цветов
•	цветовая палитра должна быть сдержанной, без резких и кислотных оттенков;
•	акцентные золотистые элементы использовать умеренно, для выделения важной информации;
•	текст должен иметь высокий контраст и быть легко читаемым;
•	оформление должно соответствовать официальному статусу государственного учреждения.
Недопустимые решения
•	чрезмерно яркие, неоновые или пестрые цвета;
•	агрессивные контрасты;
•	стили, не соответствующие научно-лабораторной и государственной тематике.



